:root {
	/* color */
	--white-color: #fff;
	--black-color: #140a00;
	--blue-color: #045fd4;
	--red-color: #ff0000;
	--grey-dark-color: #909090;
	--grey-light-color: #e0e0e0;

	/* Size */
	--padding: 1.2rem;
	--padding-medium: 1.8rem;
	--padding-large: 2.4rem;
	--padding-extra-large: 3.4rem;
	--avatar-size: 3.6rem;

	/* Font Size */
	--font-xlarge: 2.4rem;
	--font-large: 1.8rem;
	--font-medium: 1.4rem;
	--font-small: 1.2rem;
	--font-micro: 1rem;
}

/*/ ////////////// Main-section /////////////// */
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
.main-section {
	margin: var(--padding);
}

/* /////////// The header has been placed in General Css //// */

/* //////////////// Menus //////////////////////// */
/* .menus {
	display: flex;
} */

/* //////////////// Side menu //////////////////////// */
/* ////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */

.side-menu-section {
	/* display: block; */
	width: 20rem;
}

.side-menu {
	color: var(--white-color);
	background-color: #111;
	width: 7rem;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	left: -100%;
	/* left: 0%; */
	padding-top: 2rem;
}

.side-menu.active {
	left: 0%;
	width: 20rem;
	background-color: #111;
	justify-content: flex-start;
	padding-left: 27px;
	font-size: 1.8rem;
}

.side-menu.active hr {
	width: 19rem;
	margin-bottom: 1.8rem;
	background-color: #90909042;
	height: 2px;
	border: none;
	transform: translatex(-3rem);
}

.side-menu-icon {
	color: var(--white-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 1.8rem;
	margin-bottom: 1.8rem;
}

.side-menu-icon ion-icon {
	width: 2.4rem;
	height: 2.4rem;
}

.side-menu-icon span {
	font-size: 1.4rem;
}

/* //////////////// Categories //////////////////////////// */
/* ////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */

.categories-ul::-webkit-scrollbar {
	display: none;
}

.categories-ul {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.categories-ul {
	display: flex;
	/* justify-content: space-between; */
	gap: 1rem;
	overflow-x: auto;
	white-space: nowrap;
}

.categories-ul li {
	/* display: flex; */
	/* height: 4rem; */
	padding: 2rem;
	align-items: center;
}

.categories-ul li a {
	font-size: 1.4rem;
	text-decoration: none;
	color: var(--white-color);
}

.categories.active {
	transform: translateX(20rem);
}

.categories-ul:hover {
}

/* //////////////// Video //////////////////////////// */
/* ////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */

.video {
	width: 100%;
	/* max-height: 100rem;
	max-width: 100rem; */
	padding-bottom: 3.2rem;
}

/*/ ////////////// Video Info Metadata /////////////// */
/* ////////////////////////////////////////////////// */

.info {
	margin-bottom: var(--padding);
}

.info-metadata {
	margin-bottom: 1.3rem;
}

.hashtags {
	display: flex;
	font-size: var(--font-small);
}

.hashtag {
	margin-right: 0.8rem;
	color: var(--blue-color);
	margin-bottom: 0.3rem;
}

.title-and-buttons {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.info-title {
	font-size: var(--font-medium);
	margin-bottom: 0.3rem;
}

.views {
	font-size: var(--font-small);
	color: var(--grey-dark-color);
}

.fa-caret-down {
	margin-left: 1rem;
}

/*/ ////////////// Video Info Actions /////////////// */
/* ////////////////////////////////////////////////// */
.actions {
	display: flex;
	width: 100%;
	max-width: 100rem;
	justify-content: space-around;
	font-size: var(--font-small);
	padding: var(--padding);
}

.actions li {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	color: var(--grey-dark-color);
}

.actions button {
	color: var(--grey-dark-color);
	font-size: 1.6rem;
}

.btn-actions:focus,
.btn-actions:hover,
.brtn-actions:active {
	color: var(--blue-color);
}

/*/ ////////////// Video Info Channel /////////////// */
/* ////////////////////////////////////////////////// */

.channel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 100rem;
	padding: var(--padding);
	border-top: solid 0.1rem var(--grey-light-color);
	border-bottom: solid 0.1rem var(--grey-light-color);
}

.channel .metadata {
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
}

.channel .metadata img {
	width: var(--avatar-size);
	border-radius: 50%;
}

.channel .channel-info {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.channel .channel-info .avatar {
	font-size: var(--font-medium);
}

.subscribers {
	color: var(--grey-dark-color);
}

.subscribe {
	justify-self: end;
	background-color: var(--white-color);
	border: none;
	text-transform: uppercase;
	color: var(--red-color);
	font-size: var(--font-medium);
}

.subscribe:hover,
.subscribe:active {
	color: var(--blue-color);
}

/*/ ////////////// Up next /////////////// */
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
.up-next {
	/* padding: 0 var(--padding); */
	/* max-width: 100rem; */
}

.up-next > .title {
	font-size: var(--font-medium);
	color: var(--grey-dark-color);
	margin-bottom: calc(var(--padding) / 2);
}

.up-next .item {
	/* display: grid;
	grid-template-columns: 1.2fr 6fr 0.1fr; */
	display: flex;
	margin-bottom: 1.2rem;
}
.item .up-next-img {
	flex: 1 1 35%;
	margin-right: 0.8rem;
}

.item .up-next-img img {
	width: 100%;
	max-width: 30rem;
}

.up-next .item .up-next-info {
	/* display: flex;
	flex-direction: column;
	flex-grow: 0; */
}

.up-next .item .up-next-info .up-next-title {
	display: block;
	flex: 0 1 60%;
	font-size: var(--font-small);
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.up-next .item .up-next-info .name,
.up-next .item .up-next-info .views {
	display: block;
	font-size: var(--font-micro);
	color: var(--grey-dark-color);
}

.up-next .item .more-btn {
	flex: 0 1 5%;
	border: none;
	outline: none;
	background-color: var(--white-color);
	align-self: flex-start;
}

.line-clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
